In [1]:
#list



a = ["abc",2,7,2.9]

In [2]:
a

['abc', 2, 7, 2.9]

In [3]:
a.append("heelo")
a

['abc', 2, 7, 2.9, 'heelo']

In [4]:
a.count(2)

1

In [5]:
a.index("heelo")

4

In [6]:
a.remove("heelo")

In [7]:
a

['abc', 2, 7, 2.9]

In [8]:
a.pop(2)

7

In [9]:
a

['abc', 2, 2.9]

In [12]:
#dict


dit = {"name":"sadika", "age":"20", "college":"vtu"}

In [13]:
dit

{'name': 'sadika', 'age': '20', 'college': 'vtu'}

In [14]:
dit.get("college")

'vtu'

In [15]:
dit.values()

dict_values(['sadika', '20', 'vtu'])

In [16]:
dit.keys()

dict_keys(['name', 'age', 'college'])

In [17]:
y = ("val")

In [18]:
dit.fromkeys(dit,y)

{'name': 'val', 'age': 'val', 'college': 'val'}

In [19]:
dit.update({"school": "kle"})

In [20]:
dit

{'name': 'sadika', 'age': '20', 'college': 'vtu', 'school': 'kle'}

In [21]:
#SET


s = {"Sadika", "lives", "in" , 1, 6, 20, 90}
s

{1, 20, 6, 90, 'Sadika', 'in', 'lives'}

In [22]:
s1 = {1, "ives"}

In [23]:
s1.issubset(s)

False

In [25]:
s1.intersection(s)

{1}

In [26]:
s1.difference(s)

{'ives'}

In [27]:
s1.add("India")

In [28]:
s1

{1, 'India', 'ives'}

In [29]:
s1.update(["beatiful" , "flower"])
s1

{1, 'India', 'beatiful', 'flower', 'ives'}

In [30]:
s

{1, 20, 6, 90, 'Sadika', 'in', 'lives'}

In [31]:
for x in s:
    print(x)

1
Sadika
6
lives
in
20
90

In [32]:
#tuple


tup = "sadika" , 11, 4, 7, "xyz"
tup

('sadika', 11, 4, 7, 'xyz')

In [33]:
tup.count(1)

0

In [34]:
tup.index(11)

1

In [35]:
#srtings

S = "hello world..!!"

In [37]:
S.capitalize()

'Hello world..!!'

In [38]:
S.encode()

b'hello world..!!'

In [39]:
S.find("1")

-1

In [40]:
S.isascii()

True

In [41]:
S.upper()

'HELLO WORLD..!!'